.Header{
  height: 35vh;
  background-image: url('http://www.toca-ch.com/data/walls/26/22075012.jpg');
  background-color: #666CDA8A;
  background-blend-mode: overlay;
  background-position: center;
}
